@keyframes #{$name}_show {
  from {
    transform: scale3d(0, 0, 0);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

// Used for the badge & qr animation
@keyframes #{$name}_badge_in {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@if $type == full {
  @keyframes #{$name}_badge_out {
    from {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    to {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
  }

  @keyframes #{$name}_send_svg {
    0%,
    50%,
    100% {
      stroke-dashoffset: var(--stroke);
    }

    5%,
    45% {
      stroke-dashoffset: 0;
    }
  }
}

@keyframes #{$name}_image_loop {
  0% {
    opacity: 0;
  }

  3%,
  20% {
    opacity: 1;
  }

  25%,
  100% {
    opacity: 0;
  }
}

@keyframes #{$name}_tootlip {
  0% {
    opacity: 0;
    transform: scale3d(1, 0, 1);
  }

  1%,
  20% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  25%,
  100% {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
}
