$name: joinchat;
$class: .$name;

$rtl: [dir=rtl];

$black: #000;
$white: #fff;
$transparent: rgba(0, 0, 0, 0);

$WA: #25d366;
$WAdark: #128c7e;
$WAdarken: #075e54;

$chat_color: #4a4a4a;
$chat_bg: $white;
$chat_dark_color: #505050;
$chat_dark_bg: #d8d8d8;

$btn_size: 60px;
