#{$class}__button {
  position: absolute;
  z-index: 2;
  bottom: 8px;
  right: 8px;
  height: var(--s);
  width: var(--s);
  background: $WA var(--joinchat-ico) center / 60% no-repeat;
  color: inherit;
  border-radius: 50%;
  box-shadow: 1px 6px 24px 0 rgba($WAdarken, 0.24);
  cursor: pointer;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: $WAdark;

    @if $type == full {
      #{$class}:has(#{$class}__chatbox) & {
        transition-duration: 1.5s;
      }
    }
  }

  &:active {
    background-color: $WAdark;
    transition: none;
  }

  #{$class}--left & {
    right: auto;
    left: 8px;
  }

  @if $type == full {
    #{$class}--chatbox & {
      display: none;
    }
  }
}

#{$class}__button__ico {
  position: absolute;
  inset: 0;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  @if $type == full {
    color: var(--text) !important;
  } @else {
    color: hsl(0 0% clamp(0%, var(--bw)*1000%, 100%) / clamp(70%, var(--bw)*1000%, 100%)) !important;
  }

  svg {
    width: var(--ico-size, 100%);
    height: var(--ico-size, 100%);
    margin: calc((100% - var(--ico-size, 100%)) / 2);
  }

  @if $type == full {
    #{$class}__button:has(&) {
      background: var(--color);
      box-shadow: 1px 6px 24px 0 hsl(var(--ch) var(--cs) calc(var(--cl) - 10%) / 24%); // --dark with alpha

      &:hover,
      &:active {
        background: var(--hover);
      }
    }
  } @else {
    #{$class}__button:has(&) {
      background: hsl(var(--ch) var(--cs) var(--cl));
      box-shadow: 1px 6px 24px 0 hsl(var(--ch) var(--cs) calc(var(--cl) - 10%) / 24%); // --dark with alpha

      &:hover,
      &:active {
        background: hsl(var(--ch) var(--cs) calc(var(--cl) + 20%));
      }
    }
  }
}

#{$class}__button__image {
  position: absolute;
  inset: 1px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;

  img,
  video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #{$class}--show & {
    animation: #{$name}_image_loop 20s linear 5s infinite normal both;
  }

  // Always show image
  #{$class}--img & {
    opacity: 1;
    animation: none;
  }
}