#{$class}__chatbox {
  content-visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: calc(100vw - var(--sep) * 2);
  max-width: 400px;
  max-height: calc(var(--vh) - var(--bottom) - var(--sep));
  border-radius: calc((var(--s) / 2) + 2px);
  background: $white linear-gradient(180deg, var(--color), var(--color) var(--header), var(--bg) var(--header), var(--bg));
  box-shadow: 0 2px 6px 0 rgba($black, 0.5);
  text-align: left;
  overflow: hidden;
  transform: scale3d(0, 0, 0);
  opacity: 0;
  transition: max-height 0.2s ease-out, opacity 0.4s ease-out, transform 0s linear 0.3s;

  #{$rtl} & {
    text-align: right;
  }

  #{$class}--chatbox & {
    content-visibility: visible;
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition: max-height 0.2s ease-out, opacity 0.2s ease-out, transform 0s linear;
  }

  #{$class}--left & {
    right: auto;
    left: 0;
  }

  #{$class}--dark & {
    background: #1a1a1a linear-gradient(180deg, var(--dark), var(--dark) var(--header), var(--bg) var(--header), var(--bg));
  }
}

#{$class}__header {
  display: flex;
  flex-flow: row;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  height: var(--header);
  padding: 0 70px 0 26px;
  margin: 0;

  #{$rtl} & {
    padding: 0 26px 0 70px;
  }

  &__text {
    font-size: 19px;
    font-weight: 600;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.8;
  }
}

#{$class}__powered {
  font-size: 11px;
  line-height: 18px;
  color: inherit !important;
  text-decoration: none !important;
  fill: currentColor;
  opacity: 0.8;

  svg {
    display: inline-block;
    width: auto;
    height: 18px;
    vertical-align: -30%;
  }

  &:hover,
  &:active {
    color: inherit !important;
    text-decoration: none !important;
    opacity: 0.9;
    filter: drop-shadow(0 1px 3px rgba($black, 0.3));
  }
}

#{$class}__wa {
  display: block;
  height: 28px;
  width: auto;
  fill: currentColor;
  opacity: 0.8;
}

#{$class}__close {
  --size: 34px;
  position: absolute;
  top: calc(50% - var(--size)/2);
  right: 24px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: rgba($black, 0.4) svg-load("../../img/close.svg", fill=$white) center no-repeat;
  background-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: rgba($black, 0.6);
  }

  &:active {
    background-color: rgba($black, 0.7);
  }

  #{$rtl} & {
    right: auto;
    left: 24px;
  }
}

#{$class}__scroll {
  overflow: hidden scroll;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  // will-change: scroll-position;

  &::-webkit-scrollbar {
    width: 4px;
    background: $transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: $transparent;
  }

  #{$class}--blur & {
    background: rgba(var(--rgb) / 2%);
    backdrop-filter: blur(10px);
  }

  &:hover::-webkit-scrollbar-thumb {
    background: rgba($black, 0.2);
  }
}

#{$class}__content {
  display: flex;
  flex-direction: column;
  width: calc(100% + 4px); // 100% + scrollbar width
  padding: 20px 0 8px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 4px;
    height: calc(var(--s) + 20px);
    background: #fff linear-gradient(180deg, var(--bg), var(--bg));
    mask-image: linear-gradient(rgb(0 0 0 / 0%) 0, rgb(0 0 0 / 60%) 25%, rgb(0 0 0 / 92%) 70%, rgb(0 0 0 / 100%) 95%, rgb(0 0 0 / 100%));
    pointer-events: none;

    #{$class}--dark & {
      background-color: #1a1a1a;
    }
  }
}

@include mobile {
  #{$class}__header__text {
    font-size: 17px;
  }

  #{$class}__close {
    --size: 28px;
  }
}

@include dark {
  #{$class}--dark-auto {

    #{$class}__chatbox {
      background: #1a1a1a linear-gradient(180deg, var(--dark), var(--dark) var(--header), var(--bg) var(--header), var(--bg));
    }

    #{$class}__content::after {
      background-color: #1a1a1a;
    }
  }
}
