#{$class}__box {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: calc(100vw - var(--sep) * 2);
  max-width: 400px;
  min-height: 170px;
  max-height: calc(100vh - var(--bottom) - var(--sep));
  border-radius: 32px;
  background: transparent;
  box-shadow: 0 2px 6px 0 rgba($black, 0.5);
  text-align: left;
  overflow: hidden;
  transform: scale3d(0, 0, 0);
  opacity: 0;
  transition: opacity 400ms ease-out, transform 0ms linear 300ms;

  #{$class}--chatbox & {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition: opacity 200ms ease-out, transform 0ms linear;
  }

  #{$class}--left & {
    right: auto;
    left: 0;
  }
}

#{$class}__header {
  flex-shrink: 0;
  height: var(--header);
  line-height: var(--header);
  padding: 0 26px;
  margin: 0;
  background: var(--color);

  #{$class}--dark & {
    background: var(--dark);
  }
}

#{$class}__copy {
  font-size: 11px;
  line-height: 18px;
  color: inherit !important;
  text-decoration: none !important;
  fill: currentColor;
  opacity: 0.7;

  svg {
    display: inline-block;
    width: auto;
    height: 18px;
    vertical-align: -26%;
  }

  &:hover,
  &:active {
    color: inherit !important;
    text-decoration: none !important;
    opacity: 0.9;
  }
}

#{$class}__close {
  position: absolute;
  top: 18px;
  right: 24px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba($black, 0.4) svg-load("../../img/close.svg", fill=$white) center no-repeat;
  background-size: 12px;
  cursor: pointer;
  transition: background-color 300ms ease-out;
  -webkit-tap-highlight-color: $transparent;

  &:hover {
    background-color: rgba($black, 0.6);
  }

  #{$rtl} & {
    right: auto;
    left: 24px;
  }
}

#{$class}__box__scroll {
  padding: 20px 0 80px 0;
  background: $white linear-gradient(0deg, var(--bg), var(--bg));
  overflow-x: hidden;
  overflow-y: auto;
  will-change: scroll-position;

  &::-webkit-scrollbar {
    width: 5px;
    background: $transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: $transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: rgba($black, 0.2);
  }

  #{$class}--blur & {
    background: rgba(var(--rgb), 0.2);
    backdrop-filter: blur(10px);
  }

  #{$class}--dark & {
    background: #1a1a1a;
  }

  @include ios {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

@include mobile {
  #{$class}__close {
    top: 13px;
    width: 28px;
    height: 28px;
  }

  #{$class}__box__scroll {
    padding: 15px 0 70px 0;
  }
}

@include dark {
  #{$class}--dark-auto {
    #{$class}__box__scroll {
      background: #1a1a1a;
    }

    #{$class}__header {
      background: var(--dark);
    }
  }
}
