#{$class} {
  // Position/size
  --sep: 20px;
  --bottom: var(--sep);
  --s: 60px; // Button size
  --h: calc(var(--s)/2);

  @if $type == full {
    --header: max(50px, var(--s)*1.166667);
    --vh: 100vh;
  }

  // Colors
  --ch: 142;
  --cs: 70%;
  --cl: 49%;
  --bw: 1; // 0 Black text / 1 White text
  --text: hsl(0 0% clamp(0%, var(--bw)*1000%, 100%) / clamp(70%, var(--bw)*1000%, 100%)); // White hsl(0 0% 100% / 100%) / Black hsl(0 0% 0% / 70%)
  --hover: hsl(var(--ch) var(--cs) calc(var(--cl) + 20%)); // lighter color

  @if $type == full {
    --hsl: var(--ch) var(--cs) var(--cl);
    --color: hsl(var(--hsl));
    --dark: hsl(var(--ch) var(--cs) calc(var(--cl) - 10%));  // darker color
    --bg: hsl(var(--hsl) / 4%);
    --msg: var(--color);

    color: var(--text);
  } @else {
    --color: hsl(var(--ch) var(--cs) var(--cl));
  }

  display: none;
  position: fixed;
  z-index: 9000;
  right: var(--sep);
  bottom: var(--bottom);
  font: normal normal normal 16px/1.625em var(--joinchat-font);
  letter-spacing: 0;
  animation: #{$name}_show 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28) 10ms both;
  transform: scale3d(0, 0, 0);
  transform-origin: calc(var(--s)/-2) calc(var(--s)/-4);
  user-select: none;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: $transparent;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &--show {
    display: block;
    transform: scale3d(1, 1, 1);
  }

  &--left {
    right: auto;
    left: var(--sep);
  }

  @include mobile {
    --sep: 6px;

    @if $type == full {
      --header: max(50px, var(--s)*0.9166667);
    }
  }

  @media (max-width: 767px) {
    &--footer-bar {
      --bottom: 76px !important;
    }
  }

  @include nomobile {
    &--mobile {
      display: none !important;
    }
  }

  @if $type == full {
    &--dark {
      --msg: var(--dark);
    }
  }

  &--noanim {
    animation: none;
  }

  @if $type == full {
    &--chatbox:not(&--noanim) {
      transform-origin: 0 0;
      animation-timing-function: ease-in-out;
    }
  }

  @include motionless {
    animation: none;
  }

  @if $type == full {
    &--hidden {
      display: none !important;
    }
  }
}

@if $type == full {
  // Fallback (Microsoft Edge for Android & iOS < 13.7)
  @supports not (width: clamp(1px, 1%, 10px)) {
    #{$class} {
      --text: hsl(0 0% calc(var(--bw)*1%) / 90%);
    }
  }

  @include dark {
    #{$class}--dark-auto {
      --msg: var(--dark);
    }
  }
}
