#{$class}__tooltip {
  position: absolute;
  top: calc(var(--h) - 16px);
  right: calc(var(--s) + 16px);
  max-width: calc(100vw - var(--s) - 45px);
  height: 32px;
  padding: 0 14px;
  border: none;
  border-radius: 16px;
  background: $white;
  color: rgba($black, 0.8);
  line-height: 31px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-out 0.4s;
  filter: drop-shadow(0 1px 4px rgba($black, 0.4));
  pointer-events: none;

  &::after {
    @include pseudo;

    top: 10px;
    right: -6px;
    border: 8px solid transparent;
    border-width: 6px 0 6px 8px;
    border-left-color: $white;
  }

  div {
    width: max-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #{$class}--tooltip & {
    animation: #{$name}_tootlip 20s linear 5s 1 normal both;
  }

  @include hover {
    #{$class}__button:hover & {
      opacity: 1;
      animation: none;
      transition: opacity 0.2s;
    }
  }

  @if $type == full {
    #{$class}--chatbox & {
      display: none;
    }
  }

  #{$class}--left & {
    right: auto;
    left: calc(var(--s) + 16px);

    &::after {
      left: -6px;
      right: auto;
      border-color: transparent;
      border-width: 6px 8px 6px 0;
      border-right-color: $white;
    }
  }
}
