@font-face {
  font-family: 'WAmeIcons';
  src: url('data:font/woff;base64,d09GRgABAAAAAARgAAsAAAAABBQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIFgGNtYXAAAAFoAAAAVAAAAFQXVtKIZ2FzcAAAAbwAAAAIAAAACAAAABBnbHlmAAABxAAAAHQAAAB0gkciwGhlYWQAAAI4AAAANgAAADYVuuUSaGhlYQAAAnAAAAAkAAAAJAbCA8dobXR4AAAClAAAABgAAAAYDgACM2xvY2EAAAKsAAAADgAAAA4AYgBAbWF4cAAAArwAAAAgAAAAIAAIAAVuYW1lAAAC3AAAAWIAAAFicC7V7nBvc3QAAARAAAAAIAAAACAAAwAAAAMDVQGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6QEDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEADgAAAAKAAgAAgACAAEAIOkB//3//wAAAAAAIOkA//3//wAB/+MXBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQEzAM0DAALNAAIAAAkBEQMA/jMBzf8AAgAAAAEBAADNAs0CzQACAAABEQECzf4zAs3+AAEAAAABAAAAAQAAtqSnv18PPPUACwQAAAAAANnOUKQAAAAA2c5QpAAAAAADAALNAAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAMAAAEAAAAAAAAAAAAAAAAAAAAGBAAAAAAAAAAAAAAAAgAAAAQAATMEAAEAAAAAAAAKABQAHgAsADoAAAABAAAABgADAAEAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEABAAAAAEAAAAAAAIABwBFAAEAAAAAAAMABAAtAAEAAAAAAAQABABaAAEAAAAAAAUACwAMAAEAAAAAAAYABAA5AAEAAAAAAAoAGgBmAAMAAQQJAAEACAAEAAMAAQQJAAIADgBMAAMAAQQJAAMACAAxAAMAAQQJAAQACABeAAMAAQQJAAUAFgAXAAMAAQQJAAYACAA9AAMAAQQJAAoANACAd2FtZQB3AGEAbQBlVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2FtZQB3AGEAbQBld2FtZQB3AGEAbQBlUmVndWxhcgBSAGUAZwB1AGwAYQByd2FtZQB3AGEAbQBlRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==') format('woff');
}

.whatsappme {
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.625em;
  color: #262626;
  transform: scale3d(0, 0, 0);
  transition: transform .3s ease-in-out;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.whatsappme svg path {
  fill: currentColor !important;
}

.whatsappme.whatsappme--show {
  transform: scale3d(1, 1, 1);
  transition: transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.whatsappme__button {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  z-index: 2;
  bottom: 8px;
  right: 8px;
  height: 60px;
  min-width: 60px;
  max-width: 95vw;
  background-color: #25D366;
  color: #fff;
  border-radius: 30px;
  box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, .24);
  cursor: pointer;
  transition: background-color 0.2s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.whatsappme__button:hover {
  background-color: #128C7E;
  transition: background-color 1.5s linear;
}

.whatsappme--dialog .whatsappme__button {
  background-color: #128C7E;
  transition: background-color 0.2s linear;
}

.whatsappme--dialog .whatsappme__button:hover {
  background-color: #075E54;
}

.whatsappme__button:active {
  background-color: #075E54;
  transition: none;
}

/* iOS styles */
@supports (-webkit-overflow-scrolling: touch) {
  .whatsappme--dialog .whatsappme__button {
    background-color: #34B7F1;
  }

  .whatsappme--dialog .whatsappme__button:hover,
  .whatsappme__button:active {
    background-color: #228bb9;
  }
}

.whatsappme__button svg {
  width: 36px;
  height: 36px;
  margin: 12px 12px;
}

.whatsappme__button .whatsappme__button__send {
  margin: 12px 11px 12px 13px;
}

.whatsappme__button__image {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
}

.whatsappme__button__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.whatsappme--show .whatsappme__button__image {
  animation: wame_image_loop 20s linear 5s infinite normal both;
}

.whatsappme--image .whatsappme__button__image {
  opacity: 1;
  animation: none;
}

.whatsappme__button__sendtext {
  padding: 0;
  max-width: 0;
  font-weight: 600;
  line-height: 60px;
  white-space: nowrap;
  opacity: 0;
  overflow: hidden;
  transition: none;
}

.whatsappme--dialog .whatsappme__button__sendtext {
  padding: 0 4px 0 24px;
  max-width: 200px;
  opacity: 1;
  transition: max-width 0.2s linear, opacity 0.4s ease-out 0.2s;
}

.whatsappme__badge {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #e82c0c;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  box-shadow: none;
  opacity: 0;
  pointer-events: none;
}

.whatsappme__badge.whatsappme__badge--in {
  animation: wame_badge_in 500ms cubic-bezier(0.27, 0.9, 0.41, 1.28) 1 both;
}

.whatsappme__badge.whatsappme__badge--out {
  animation: wame_badge_out 400ms cubic-bezier(0.215, 0.61, 0.355, 1) 1 both;
}

.whatsappme--dialog .whatsappme__button {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.whatsappme .whatsappme__button__send path {
  fill: none !important;
  stroke: #fff !important;
  animation: wame_plain 6s 0s ease-in-out infinite;
}

.whatsappme .whatsappme__button__send path.wame_chat {
  animation-name: wame_chat;
}

.whatsappme__tooltip {
  position: absolute;
  top: 14px;
  right: 76px;
  max-width: calc(100vw - 105px);
  height: 32px;
  padding: 0 14px;
  border: none;
  border-radius: 16px;
  background: #fff;
  color: #075E54;
  line-height: 31px;
  white-space: nowrap;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  opacity: 0;
}

.whatsappme__tooltip::after {
  font: normal normal 400 20px/1em WAmeIcons;
  content: '\e900';
  position: absolute;
  top: 6px;
  right: -12px;
  color: #fff;
  text-align: right;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, .4);
}

.whatsappme__tooltip div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.whatsappme--tooltip .whatsappme__tooltip {
  animation: wame_tootlip 20s linear 5s 1 normal both;
}

.whatsappme__button__open,
.whatsappme--dialog .whatsappme__button__send {
  display: block;
}

.whatsappme__button__send,
.whatsappme--dialog .whatsappme__button__open,
.whatsappme--dialog .whatsappme__button__image,
.whatsappme--dialog .whatsappme__tooltip {
  display: none;
}

.whatsappme__box {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: calc(100vw - 40px);
  max-width: 400px;
  min-height: 280px;
  padding-bottom: 60px;
  border-radius: 32px;
  background: #ede4dd url(../images/background.webp) center repeat-y;
  background-size: 100% auto;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
  overflow: hidden;
  transform: scale3d(0, 0, 0);
  opacity: 0;
  transition: opacity 400ms ease-out, transform 0ms linear 300ms;
}

.nowebp .whatsappme__box {
  background-image: url(../images/background.png);
}

.whatsappme--dialog .whatsappme__box {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transition: opacity 200ms ease-out, transform 0ms linear;
}

.whatsappme__header {
  float: none;
  display: block;
  position: static;
  width: 100%;
  height: 70px;
  padding: 0 26px;
  margin: 0;
  background-color: #2e8c7d;
  color: rgba(255, 255, 255, .5);
}

.whatsappme__header svg {
  width: 120px;
  height: 100%;
}

.whatsappme__close {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 18px;
  right: 24px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  text-align: center;
  opacity: .4;
  cursor: pointer;
  transition: opacity 300ms ease-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.whatsappme__close:hover {
  opacity: .6;
}

.whatsappme__close svg {
  display: block;
  width: 12px;
  height: 12px;
  margin: auto;
}

.whatsappme__message {
  position: relative;
  min-height: 80px;
  padding: 20px 2px 20px 0;
  margin: 34px 26px;
  border-radius: 32px;
  background-color: #fff;
  color: #4A4A4A;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.whatsappme__message:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 30px;
  left: -18px;
  width: 18px;
  height: 18px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADcAAAA1CAYAAADlE3NNAAAEr0lEQVRo3t2aT0gjVxzHf++9mcn8zWhW6bpELWzcogFNaRar7a4tBNy2WATbHpacpdZ6redeZE+9CL02B1ktXsRD/xwsilhoSwsqag/xYK09hCQlmCiTf28vGRnGmZhE183MFx5vmGQy7zO/P/P7PYLAHUIAQCqDAwDPxMREG3IpHL+zs/MZcgkYAgAMAIwOl8lkYm6xGgYAFgAEAGgZHx9/vVwun7nJJTkAEAGgdW9v73NKKXWLSzIA4AEAGQDazs/P/3ALnNEl1a2trY9oRW6wmu6SEgC0ZrPZn9wCp2dIHgCU1dXVtymlZafDIatEksvlfqYGueG9xgOAcnBw8JSa5GR3vIi1aDTaUSwWj5wOZ3RHPUN6U6nUN9RCTnZHDwDI+/v745TSkpPhrOpHcWlpqbdcLieojZwGpseZMDo66svn87/RKnIaGAsAfCAQ8J6dnX1Pr5DjwABAzmazMVqDHAd2enr6La1RjgGLRCJqLpeL0TrUjFDGrMgCAD8/P38vn8//QutUs1pLT/fC5ubmQKFQOKANqNmspbuhBwDEZDL5BaX0lDaoZoK62NxZXFzs1DRthV5TrxrKGFue/v5+KZ1Of1kul5P0BtQUUAAgxOPx9wuFwl/0BvWq3O8C6vDw8F1N036gL0G3ZaVLUEdHRxFN036kL1E3DWMHxAEAPzc3dyedTk+XSqUdegu6CRijy5mBPLOzs2oikfhU07RFSmmG3qKuaxkdxuhy/MzMjDeRSHyiadrz2wYyClUBMh9bzRfAu7u7PX6//z1RFB9zHBcBALUZKoRqUMgEgyvHeHt7+353d/cjQRBGWJZ9jBDqaMYKHKpYBAEAXltbawsGg2FFUd7iOO4hIeQhQuiOEzpdOzCSTCaftLS0fEUIGXbiHiBjU5njVCr1sc/nW6wkDcduS1u1HKRUKv2KMR4ABwvbAWKMA+BwYbsasFgs/uMWuEtxd3x8/J3b4C4Ag8Hg83g8/iyfz//n5IRi1eZzla00HgA8oijyDMNwlFJCCGH0axiGQQAAXq+XyLLMeL1eRlEURpZlRpIkhud5oigK297eLvl8Prm1tVVSFEWSJEkWRVESBMGrqupriqLcFQThLsaYu612n6vUip4KMFv5HJssjhooEi5laoZh0NjYWNvw8PC9np6ejkAg8MDv9w+oqnrfxsNqhgNTh2wE1MGYChyyWGA9RYJVFWTM3MhwjMPhsDw9PT0QDocHOjs731RV9Y1rv+cMlb4Oiy3garWW1b2sPMfceZgHmZqa6pycnPywr6/vA47jfPXAWbU0xOCOqE44u2K8Wl9oBUfMa+rq6hIWFhbGBwcHn9pBohogcRWwRiCRTUiACQ6ZYpxY9JAkFAopy8vLM4FAYKyRrgA1GGf1JperLGgEM4cNG4vF3olGo18TQkT9JsRmAdQw66NsGlbn7Ibdd0um2XzOblz6/ZWVlX8JIb8PDQ090gFJDU+e2sBeZ1hBU9NcqvIQzDMFALq+vp7GGP85MjLyBCHE1tPO1LP4eq4FG/hqnlGyeSiwsbHxfygUOu7t7Y00059JUY3ZHFm8k1lT0cGfnJw8c0ojepWFzd6CMpnM3y8AJPEkZ9khO4IAAAAASUVORK5CYII=');
  background-size: 100%;
}

.whatsappme__message__wrap {
  max-height: calc(100vh - 270px);
  padding: 0 20px 0 22px;
  overflow: auto;
}

.whatsappme__message__wrap::-webkit-scrollbar {
  width: 5px;
  background: rgba(0, 0, 0, 0);
}

.whatsappme__message__wrap::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0);
}

.whatsappme__message__wrap:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.whatsappme__message a {
  text-decoration: underline;
  color: #2e8c7d;
}

.whatsappme__copy {
  position: absolute;
  bottom: 9px;
  left: 28px;
  color: #2e8c7d;
  font-size: 11px;
  letter-spacing: 0.2px;
  line-height: 16px;
  opacity: 0.4;
  transition: opacity 0.25s;
}

.whatsappme__copy:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease-out 0.5s;
}

.whatsappme__copy a,
.whatsappme__copy a:hover,
.whatsappme__copy a:active {
  color: inherit;
  text-decoration: none;
}

.whatsappme__copy svg {
  width: 40px;
  height: 10px;
  vertical-align: inherit;
}

/* Align left */

.whatsappme--left {
  right: auto;
  left: 20px;
}

.whatsappme--left .whatsappme__button {
  right: auto;
  left: 8px;
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.whatsappme--left.whatsappme--dialog .whatsappme__button__sendtext {
  padding: 0 24px 0 4px;
}

.whatsappme--left .whatsappme__tooltip {
  right: auto;
  left: 76px;
}

.whatsappme--left .whatsappme__tooltip::after {
  content: '\e901';
  left: -12px;
  right: auto;
  text-align: left;
  text-shadow: -2px 1px 3px rgba(0, 0, 0, .4);
}

.whatsappme--left .whatsappme__box {
  right: auto;
  left: 0;
}

.whatsappme--left .whatsappme__copy {
  left: auto;
  right: 28px;
  text-align: right;
}

/* rtl */

[dir=rtl] .whatsappme__close {
  right: auto;
  left: 24px;
}

[dir=rtl] .whatsappme__message:before {
  left: auto;
  right: -18px;
  transform: rotateY(180deg);
}

[dir=rtl] .whatsappme__button {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

[dir=rtl] .whatsappme--left .whatsappme__button {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

@media (max-width: 480px),
(orientation: landscape) and (max-width: 767px) {
  .whatsappme {
    bottom: 6px;
    right: 6px;
  }

  .whatsappme--left {
    right: auto;
    left: 6px;
  }

  .whatsappme__box {
    width: calc(100vw - 12px);
    min-height: 0;
  }

  .whatsappme__header {
    height: 55px;
  }

  .whatsappme__close {
    top: 13px;
    width: 28px;
    height: 28px;
  }

  .whatsappme__message {
    padding: 16px 0;
    margin: 15px 21px 20px;
    line-height: 24px;
  }

  .whatsappme__message__wrap {
    max-height: calc(100vh - 194px);
    padding: 0 14px;
  }
}

@media (max-width: 360px) {
  .whatsappme__copy {
    width: 70px;
  }
}

@keyframes wame_badge_in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes wame_badge_out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes wame_plain {
  5%,
  45% {
    stroke-dashoffset: 0;
  }

  50%,
  100% {
    stroke-dashoffset: 1096.67;
  }
}

@keyframes wame_chat {
  50% {
    stroke-dashoffset: 1019.22;
  }

  55%,
  95% {
    stroke-dashoffset: 0;
  }
}

@keyframes wame_image_loop {
  0% {
    opacity: 0;
  }

  3%,
  20% {
    opacity: 1;
  }

  23%,
  100% {
    opacity: 0;
  }
}

@keyframes wame_tootlip {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  1%,
  20% {
    opacity: 1;
    transform: scaleY(1);
  }

  23%,
  100% {
    opacity: 0;
    transform: scaleY(1);
  }
}