#{$class}__message {
  position: relative;
  min-height: 60px;
  padding: 17px 20px;
  margin: 0 26px 26px;
  border-radius: 32px;
  background: $chat_bg;
  color: $chat_color;
  filter: drop-shadow(0 1px 2px rgba($black, 0.3));
  transform: translateZ(0);

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 20px;
    left: -15px;
    width: 17px;
    height: 25px;
    background: inherit;
    clip-path: var(--peak, url(##{$name}__message__peak));
  }

  #{$class}--dark & {
    background: $chat_dark_color;
    color: $chat_dark_bg;
  }

  #{$class}--dark-auto & {
    @include dark {
      background: $chat_dark_color;
      color: $chat_dark_bg;
    }
  }

  @include mobile {
    padding: 18px 16px;
    line-height: 24px;
    margin: 0 20px 20px;
  }
}
