#{$class}__woo-btn__wrapper {
  clear: both;
}

#{$class}__woo-btn {
  --s: 40px; // Size
  // Don't use var(--h) here.

  display: inline-block;
  box-sizing: border-box;
  height: var(--s);
  max-width: 100%;
  padding: 0 calc(var(--s)/2) 0 var(--s);
  background: $WA var(--joinchat-ico) calc(var(--s)*0.2) 50% no-repeat;
  background-size: calc(var(--s)*0.6);
  color: $white;
  border-radius: calc(var(--s)/2);
  font: 700 normal calc(var(--s)*0.35)/var(--s) var(--joinchat-font);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 200ms;

  &:empty {
    padding-right: 0;
  }

  &:hover {
    background-color: $WAdark;
  }
}