/* Joinchat settings page */

.joinchat-hidden {
  display: none !important;
}

.js #joinchat_form textarea {
  overflow: hidden;
  min-height: 100px;
}

.joinchat-tab {
  display: none;
}

.joinchat-tab-active {
  display: block !important;
}

#joinchat_tab_visibility tr:hover {
  background: rgba(0, 0, 0, .05);
}

#joinchat_tab_visibility th,
#joinchat_tab_visibility td {
  padding: 7px 15px;
}

#joinchat_tab_visibility label {
  margin-right: 15px;
}

#joinchat_tab_visibility .dashicons {
  opacity: .5;
}

#joinchat_tab_visibility input[type=radio]+span {
  transition: all 200ms;
}

#joinchat_tab_visibility input[type=radio]:checked+span {
  color: #79ba49;
  opacity: 1;
}

#joinchat_tab_visibility input[type=radio]:checked+.dashicons-hidden {
  color: #ca4a1f;
}

.joinchat-show-help {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  line-height: 1.1em;
  border-radius: 50%;
  background: #999;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.joinchat-show-help:hover,
.joinchat-show-help:active,
.joinchat-show-help:focus {
  background: #444;
  color: #fff;
}

#tab-panel-styles-and-vars span {
  white-space: nowrap;
}

.form-table td p.joinchat-addon {
  display: inline-block;
  padding: 0 6px;
  border-radius: 3px;
  background: #fffbe5;
  font-size: 13px;
}

#joinchat_button_image_wrapper {
  position: relative;
  padding: 8px 0 0 80px;
}

#joinchat_button_image_holder {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 1px solid #25d366;
  border-radius: 50%;
  background: #25d366 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path fill="%23fff" d="M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 01-13.754 2.299l-5.814.735a.392.392 0 01-.438-.44l.748-5.788A12.002 12.002 0 013.517 3.517zm3.61 17.043l.3.158a9.846 9.846 0 0011.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 00-1.747 11.554l.16.303-.51 3.942a.196.196 0 00.219.22l3.961-.501zm6.534-7.003l-.933 1.164a9.843 9.843 0 01-3.497-3.495l1.166-.933a.792.792 0 00.23-.94L9.561 6.96a.793.793 0 00-.924-.445 1291.6 1291.6 0 00-2.023.524.797.797 0 00-.588.88 11.754 11.754 0 0010.005 10.005.797.797 0 00.88-.587l.525-2.023a.793.793 0 00-.445-.923L14.6 13.327a.792.792 0 00-.94.23z"/></svg>') no-repeat center;
  box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, .24);
  overflow: hidden;
}

[dir=rtl] #joinchat_button_image_wrapper {
  padding: 8px 80px 0 0;
}

[dir=rtl] #joinchat_button_image_holder {
  right: 0;
  left: auto;
}

.joinchat_vars_help {
  margin-top: 5px;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.9;
  opacity: 0;
  transition: opacity 0.2s ease-out 0.2s;
}

tr:hover .joinchat_vars_help,
tr.joinchat--focus .joinchat_vars_help {
  opacity: 1;
  transition-delay: 0.5s;
}

.joinchat_vars_help code {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  padding: 2px 1px;
  font-size: inherit;
  vertical-align: bottom;
}

.joinchat_vars_help code:hover {
  background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 782px) {
  .joinchat_vars_help {
    margin-top: 2px;
    opacity: 1;
  }

  .joinchat_vars_help br {
    display: none;
  }

  .iti {
    width: 18em;
  }
}

#joinchat_form .iris-picker {
  visibility: visible;
}

#wp-joinchat_optin_text-editor-container {
  max-width: 800px;
}

.joinchat-gads {
  display: inline-block;
  padding: 0 0 0 8px;
  margin: 0 1px;
  border: 1px solid #8c8f94;
  border-radius: 4px;
  background-color: #fff;
  color: #2c3338;
  line-height: 2;
  box-shadow: 0 0 0 transparent;
  cursor: text;
}

.joinchat-gads:focus-within {
  border-color: #2271b1;
  box-shadow: 0 0 0 1px #2271b1;
  outline: 2px solid transparent;
}

.joinchat-gads input {
  display: inline-block !important;
  padding: 0 6px;
  border: none;
  background: transparent;
}

/* Help */

.toplevel_page_joinchat .help-tab-content li ul,
.settings_page_joinchat .help-tab-content li ul {
  margin-top: 6px;
}

.toplevel_page_joinchat .help-tab-content li li,
.settings_page_joinchat .help-tab-content li li {
  list-style-type: circle;
}

.toplevel_page_joinchat .help-tab-content code,
.settings_page_joinchat .help-tab-content code {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/* Joinchat metabox */

.joinchat-metabox .iti,
.joinchat-metabox .iti input,
.joinchat-metabox textarea {
  max-width: 99%;
}

.joinchat-metabox code {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  padding: 2px 1px;
  font-size: smaller;
  vertical-align: baseline;
}

.joinchat-metabox .dashicons {
  opacity: .5;
}

.joinchat-metabox input::placeholder {
  color: #dedfe0;
}

.joinchat-metabox input::-ms-input-placeholder {
  color: #dedfe0;
}

.joinchat-metabox input[type=radio] {
  margin-right: 1px;
}

.joinchat-metabox input[type=radio]+span {
  margin-right: 5px;
  transition: all 200ms;
}

.joinchat-metabox input[type=radio]:checked+span {
  color: #79ba49;
  opacity: 1;
}

.joinchat-metabox input[type=radio]:checked+.dashicons-hidden {
  color: #ca4a1f;
}

.js .joinchat-metabox textarea {
  overflow: hidden;
  min-height: 3em;
}

/* Joinchat term metabox */

.form-field.joinchat-metabox input[type=radio] {
  margin-right: 4px;
}

.form-field.joinchat-metabox input[type=radio]+span {
  margin-right: 15px;
}
