.js #whatsappme_form textarea {
  overflow: hidden;
  min-height: 100px;
}

.wametab {
  display: none;
}

.wametab-active {
  display: block !important;
}

#whatsappme_tab_advanced tr:hover {
  background: rgba(0, 0, 0, .05);
}

#whatsappme_tab_advanced th,
#whatsappme_tab_advanced td {
  padding: 7px 15px;
}

#whatsappme_tab_advanced label {
  margin-right: 15px;
}

#whatsappme_tab_advanced .dashicons {
  opacity: .5;
}

#whatsappme_tab_advanced input[type=radio]+span {
  transition: all 200ms;
}

#whatsappme_tab_advanced input[type=radio]:checked+span {
  color: #79ba49;
  opacity: 1;
}

#whatsappme_tab_advanced input[type=radio]:checked+.dashicons-hidden {
  color: #ca4a1f;
}

.whatsappme-show-help {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  line-height: 1.1em;
  border-radius: 50%;
  background: #999;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.whatsappme-show-help:hover,
.whatsappme-show-help:active,
.whatsappme-show-help:focus {
  background: #444;
  color: #fff;
}

#tab-panel-styles-and-vars span {
  white-space: nowrap;
}

#tab-panel-styles-and-vars code {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.form-table td p.whatsappme-addon {
  font-size: 13px;
}

.iti--allow-dropdown input {
  padding-left: 52px !important;
}