.tab {
  display: none;
}

.tab-active {
  display: block;
}

#tab-advanced tr:hover {
  background: rgba(0, 0, 0, .05);
}

#tab-advanced th,
#tab-advanced td {
  padding: 7px 15px;
}

#tab-advanced label {
  margin-right: 15px;
}

#tab-advanced .dashicons {
  opacity: .5;
}

#tab-advanced input[type=radio]+span {
  transition: all 200ms;
}

#tab-advanced input[type=radio]:checked+span {
  color: #79ba49;
  opacity: 1;
}

#tab-advanced input[type=radio]:checked+.dashicons-hidden {
  color: #ca4a1f;
}